.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Stop button CSS */
.Stop_Button{
  background-color: White;  
  color: red;
  border-color:black;
  border-style: solid;
  border-width: 2px;
  padding:10px 20px;
  cursor: pointer;
  border-radius: 20%;
  margin: 10px;
}

.Stop_Button:hover{
  background-color: pink;
}

.Stop_Button:active{
  transform: translateY(2px);
  background-color: red;
  color: black;
}
 /* Stop button CSS */

 .button_container{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
 }
